<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light" style="margin-top: 56px; border-bottom: 1px solid rgb(222,226,230); -webkit-box-shadow: 0px 13px 18px -9px rgba(0,0,0,0.65);-moz-box-shadow: 0px 13px 18px -9px rgba(0,0,0,0.65);box-shadow: 0px 13px 18px -9px rgba(0,0,0,0.65);">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"></i>
						<span style="color: white;">Seja Bem Vindo!</span></li>
				</ul>
			</div>
		</nav>


			<section id="more-features" class="section-bg">
    <div class="container ">

      <div class="section-header">
        <h3 class="section-title">SYSNUTRI</h3>
        <span class="section-divider"></span>
        <p class="section-description">Sistema responsável para auxiliar na elaboração de planos dietéticos conforme a necessidade do paciente. Algumas funcionalidades ainda serão inseridas.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="box" style="visibility: visible; ">
            <div class="icon"><i class="ion-ios-person-outline"></i></div>
            <h4 class="title"><a href="">Cadastro de Nutricionistas</a></h4>
            <p class="description">Sistema permite cadastro de nutricionistas credenciados com CRN. Painel para acompanhamento de evolução de seus pacientes.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box" style="visibility: visible; ">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Agendamento de Consultas</a></h4>
           <p class="description">O sistema terá uma regra de negócio bem elaborada para marcação de consultas de forma simples e rápida.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box" style="visibility: visible; ">
            <div class="icon"><i class="ion-android-restaurant"></i></div>
            <h4 class="title"><a href="">Elaboração de Dietas</a></h4>
            <p class="description">Elaboração de dietas com diversos alimentos com tabela nutricional baseado no TACO, ou alimentos inseridos por nutricionistas credenciados.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box" style="visibility: visible; ">
            <div class="icon"><i class="ion-ios-body-outline"></i></div>
            <h4 class="title"><a href="">Acompanhamentos dos Pacientes</a></h4>
            <p class="description">Acompanhamento dos Paciente: Dietas, Consultas, Relatórios e disponibilização de relatórios para auxiliar os nutricionistas nas tomadas de decisões.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

	</section>


</body>
</html>